<div class="container">
    <div class="row">
        <div class="col-6">
            <app-subject-countdown-timer></app-subject-countdown-timer>
        </div>
        <div class="col-6">
            <app-subject-countdown-timer-setup></app-subject-countdown-timer-setup>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-subject-start-pause-display></app-subject-start-pause-display>
        </div>
        <div class="col-6">
            <app-subject-start-pause-counter></app-subject-start-pause-counter>
        </div>
    </div>
</div>