<div class="row">
    <div>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-warning" (click)="listOrGrid(0)"><i class="fa fa-bars"></i></button>
            <button type="button" class="btn btn-warning" (click)="listOrGrid(1)"><i class="fa fa-th-large"></i></button>
            <form [formGroup]="sortForm">
                <select class="btn btn-default dropdown-toggle form-control" id="price" formControlName="sort">
                    <option value="" disabled selected>Select your option</option>
                    <option value="1">Price: Lower to Higher</option>
                    <option value="2">Price: Higher to Lower</option>
                </select>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default" [ngClass]="isList ? 'col-12' : 'col-3' " *ngFor="let product of products">
        <div class="card" [ngStyle]="isList ? {'width': '30rem'} : {'width': 'auto'}">
            <img class="card-img-top" src="{{product.strDrinkThumb}}" alt="Card image cap" width="500" height="250">
            <div class="card-body">
                <h6 class="card-title">{{product.strDrink}}</h6>
                <p class="card-text">{{product.idDrink}}</p>
            </div>
        </div>
    </div>
</div>